<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container" > <h2>

      <a class="navbar-brand" [routerLink]="['/']">Clothes Detection</a>
    </h2>
      
      <div
        
      >
        <!-- <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
        </li> -->
        <h5>

          <a class="nav-link text-dark" [routerLink]="['/']">Hadi Haidar</a>
        </h5>
    <!--
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li>
           -->
        <!-- </ul> -->
      </div>
    </div>
  </nav>
</header>
